---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: loadtests.platform.mycompany.com
spec:
  group: platform.mycompany.com
  names:
    kind: LoadTest
    listKind: LoadTestList
    plural: loadtests
    singular: loadtest
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: LoadTest is the Schema for the loadtests API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LoadTestSpec defines the desired state of LoadTest
            properties:
              address:
                type: string
              duration:
                description: Duration uses Golang duration formatting from the standard
                  library time package.
                type: string
              method:
                type: string
            required:
            - address
            - duration
            - method
            type: object
          status:
            description: LoadTestStatus defines the observed state of LoadTest
            properties:
              finished:
                type: boolean
              requestCount:
                type: integer
              successCount:
                type: integer
            required:
            - finished
            - requestCount
            - successCount
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
